body {
  background: linear-gradient(135deg, #536976, #292e49);
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  width: 100vw;
}

.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-logo img {
  width: 140px;
  height: 90px;
}

.login-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 300px;
  text-align: center;
}
.login-box form {
  display: flex;
  flex-direction: column;
}
.login-box form .login-box__input {
  margin-bottom: 20px;
}
.login-box form .login-box__input input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.login-box form .login-box__input input:focus {
  border-color: #292e49;
}
.login-box form .login-box__input .input-label {
  font-size: 10px;
  color: #333;
  text-align: left;
  margin-left: 5px;
}
.login-box form .login-box__button {
  width: 100%;
  background-color: #292e49;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box form .login-box__button:hover {
  background-color: rgb(22.6578947368, 25.4210526316, 40.3421052632);
}
.login-box form .register-button {
  background-color: #536976;
}
.login-box form .login-box__message {
  margin-top: 10px;
  font-size: 14px;
  color: #536976;
}

body {
  background: linear-gradient(135deg, #536976, #292e49);
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar-left {
  display: flex;
  align-items: center;
  justify-content: left;
  justify-content: flex-start;
  width: 50%;
  padding-left: 20px;
}
.navbar-left a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  transition: color 0.5s ease;
}
.navbar-left a:hover {
  color: #FFD700;
}
.navbar-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.navbar-right img {
  width: 80px;
  height: 50px;
  margin-top: 10px;
  justify-content: flex-end;
}

.footer {
  height: 40px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  justify-content: flex-end;
}
.footer-text {
  margin-right: 20px;
  color: white;
  transition: color 0.5s ease;
}
.footer-text:hover {
  color: #FFD700;
}
.footer-text-logo {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-text-logo a {
  text-decoration: none;
  color: white;
  transition: color 0.5s ease;
}
.footer-text-logo a:hover {
  color: #FFD700;
}
.footer-text-logo__text {
  margin-right: 30px;
}
.footer-text-logo__l {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  filter: invert(100%) brightness(200%);
}

.body {
  height: calc(100vh - 100px);
  width: 100%;
}
.body-text {
  padding: 20px;
  text-align: left;
  margin: 0 auto;
  line-height: 1.6;
  width: 70%;
}
.body-text__content {
  color: #f0f0f0;
}
.body-text__content-highlight {
  color: #292e49;
  font-weight: bold;
}
.body-text__header {
  display: flex;
  height: 100%;
  justify-content: center;
  color: #292e49;
}
.body-form__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.body-header h1 {
  color: #FFD700;
  margin-bottom: 10px;
  text-align: center;
}
.body-header p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
}
.body-form, .body-form__vote {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 80%;
  align-items: center;
  color: #292e49;
  margin-bottom: 20px;
}
.body-form h2, .body-form__vote h2 {
  color: #292e49;
}
.body-form input, .body-form select {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
}
.body-form input.submit, .body-form__vote input.submit {
  background-color: #FFD700;
  color: #292e49;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-top: 10px;
}
.body-form a {
  text-decoration: none;
}
.body-form__vote p {
  margin-bottom: 20px;
}
.body-form__vote label {
  margin-right: 10px;
}

@media (max-width: 670px) {
  html {
    overflow: hidden;
    min-width: 350px;
  }
  .navbar-left-link a {
    font-size: 0.9rem;
    margin-right: 10px;
  }
  h1 {
    font-size: 1.8rem;
  }
  p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .body {
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
  }
  .footer {
    padding: 5px;
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: center;
    margin-left: 50px;
  }
  .footer-text {
    width: 80px;
  }
  .footer-text-logo__text {
    width: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
