$light-grey: #f0f0f0;
$gradient-main-1 : $light-grey;

$medium-grey: #a8a8a8;
$gradient-main-2 : $medium-grey;

$dark-grey: #5c5c5c;
$gradient-main-3 : $dark-grey;

$soft-silver: #f0f0f0;
$elegant-slate: #a8a8a8;
$charcoal: #5c5c5c;

$soft-silver: #536976;
$elegant-slate: #292e49;

$gold: #FFD700