@import 'colors';

body {
    background: linear-gradient(135deg, $soft-silver, $elegant-slate);
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
  };

  
  .navbar {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    &-left {
        display: flex;
        align-items: center;
        justify-content: left;
        justify-content: flex-start;
        width: 50%; 
        padding-left: 20px;

        a {
            text-decoration: none;
            color: white;
            margin-right: 20px;
            transition: color 0.5s ease;
            &:hover {
              color: $gold;
            }
        }
    }
    &-right {
        width: 50%; 
        img {
            width: 80px;
            height: 50px;
            margin-top: 10px;
            justify-content: flex-end;
            
        }
        display: flex;
        align-items: center;
        justify-content: right;
    }

    
  }
  .footer {
    height: 40px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px;
    justify-content: flex-end;

    &-text {
        margin-right: 20px;
        color: white;
            transition: color 0.5s ease;
            &:hover {
              color: $gold;
            }
    }
    
    &-text-logo {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; 
        a {
            text-decoration: none;
            color: white;
            transition: color 0.5s ease;
            &:hover {
              color: $gold;
            }
        }
        &__text {
            margin-right: 30px;
        }
        &__l {
            height: 20px;
            width: 20px;
            margin-right: 20px;
            filter: invert(100%) brightness(200%); 
        }
    }
}  

.body {
    height: calc(100vh - 100px);
    width: 100%;

    &-text {
        padding: 20px;
        text-align: left;
        margin: 0 auto;
        line-height: 1.6;
        width: 70%;

        &__content {
            
            color: $light-grey;
            &-highlight {

                color: $elegant-slate;
                font-weight: bold;
            }
        }

        &__header {
            display: flex;
            height: 100%;
            justify-content: center;
            color: $elegant-slate;
        }
    }
&-form__wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
    &-header h1 {
        color: #FFD700;
        margin-bottom: 10px;
        text-align: center;
    }

    &-header p {
        margin-bottom: 20px;
        font-size: 1.2rem;
        text-align: center;
    }

    &-form, &-form__vote {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 30px;
        width: 80%;
        align-items: center;
        color: #292e49;
        margin-bottom: 20px;
    }

    &-form h2, &-form__vote h2 {
        color: #292e49;
    }

    &-form input, &-form select {
        padding: 10px;
        font-size: 16px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
        box-sizing: border-box;
    }

    &-form input.submit, &-form__vote input.submit {
        background-color: #FFD700;
        color: #292e49;
        border: none;
        cursor: pointer;
        width: 80%;
        margin-top: 10px;
    }

    &-form a {
        text-decoration: none;
    }

    &-form__vote p {
        margin-bottom: 20px;
    }

    &-form__vote label {
        margin-right: 10px;
    }
  }

  @media (max-width: 670px) {

    html {
        overflow: hidden;
        min-width: 350px;
    }
    .navbar-left-link a {
        font-size: 0.9rem;
        margin-right: 10px;
    }

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 0.9rem;
        line-height: 1.5;
    }

    .body {
        padding: 10px; 
        overflow: hidden;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
        
    }

    .footer {
        padding: 5px;
        flex-direction: row;
        font-size: 0.8rem;
        justify-content: center;
        margin-left: 50px;


        &-text {
            width: 80px;
        }

        &-text-logo__text {
            width: 10px;
        }
    }

}