@use 'colors';
@use 'index';
@use 'main-page';
@use 'header';
@use 'footer';
@use 'weather';
@use 'event-modal';
@use 'explore';
 
.body-general {
    height: calc(100vh - 140px)
}

.body-text__header {
    height: 100px
}

.body-explore {
    height: calc(100vh - 100px);
}

.body_chat {
    height: calc(100vh - 100px);
    .body-chat__header {
        display: flex;
        justify-content: center;
    }
    #chat-controls {
        display: flex;
        justify-content: center;
    }

    #chat-text {
        width: 80vw;
        display: flex;
        justify-content: center;
    }
    .chat-text-text {
        display: flex;
        flex-direction: column;
    }
    
}