@use 'colors';
@use 'index';
@use 'main-page';
@use 'header';
@use 'footer';
@use 'weather';
@use 'event-modal';
@use 'explore';
 
.body-general {
    height: calc(100vh - 140px)
}

.body-text__header {
    height: 100px
}

.body-explore {
    height: calc(100vh - 120px);
}