@use "colors";

.weather {
    display: flex;
    color: white;
    &-left, &-right{
        width: 50%;
        display: flex;
        
    }
    &-left {
        justify-content: center;
        align-items: center;
    }
    &-right {
        flex-direction: column;
    }
}